@use '../abstracts/mixins' as mixins;

html, body {
  font-family: var(--font-poppins);
  background-color: var(--bgcolor-1);
  color: var(--textcolor);
  font-size: var(--font-size);
}

.back {
  @include mixins.button_3d(10px, 10px, var(--bgcolor-2));

  color: var(--textcolor);
  font-size: .8em;
  position: absolute;
  top: 0;
  left: 0;
}