<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
</head>
<body>
  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
      color: #333;
      text-align: center;
    }
    p {
      color: #666;
      text-align: center;
    }
  </style>

  <h1>Hello World</h1>
  <p>My first Django app.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eum alias, animi eveniet qui ab. Nam, a! Magni repudiandae, necessitatibus sed cupiditate pariatur itaque dicta tempore dignissimos neque cumque nesciunt officia dolores nostrum quisquam quaerat quas earum optio veritatis est dolor. Molestias ipsam inventore laborum porro earum dolores eum, culpa rem debitis nobis asperiores nostrum deserunt sint magnam assumenda, recusandae accusamus magni. Tempore provident, molestias porro nulla atque quam nihil asperiores? Et ducimus amet nam dolorum nihil neque natus quisquam, ullam possimus, ea sequi? Unde fugit natus illo magni eos itaque? Molestias pariatur dicta nisi ea deserunt, quidem ipsum omnis.</p>
</body>
</html>