@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap');

:root {
  // fonts
  --font-poppins: 'Poppins', sans-serif;

  // dark-colors
  --bgcolor-1: #282828;
  --bgcolor-2: #323232;
  --bgcolor-3: #474747;
  --bgcolor-4: #626262;
  --bgcolor-5: #7c7c7c;
  --textcolor: #fff;

  --font-size: 18px;
  --color-warning: #a50000;
}