.calculator {
  &-main {
    width: 100vw;
    height: 10q0vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    width: 90vw;
    text-align: center;

    h2 {
      font-size: 1.3em;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }

  &-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &__light, &__dark {
      background-color: var(--bgcolor-3);
      cursor: pointer;
      font-size: 1.1em;
      padding: 5px 15px;
      border-radius: 25px;
      margin: 0 10px;
    }
  }

  &-calculadora {
    background-color: var(--bgcolor-2);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 
                0 4px 8px rgba(0, 0, 0, 0.2), 
                0 8px 16px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;

    & div:nth-child(1) {
      grid-column: 1 / 5;
      grid-row: 1 / 3;
    }

    & div:nth-child(2), & div:nth-child(17) {
      grid-column: 1 / 3;
    }
  }

  &-screen {
    border: 5px solid var(--bgcolor-1);
    text-align: right;
    background-color: var(--bgcolor-3);
    padding: 5px 20px;
    border-radius: 20px;

    &__result {
      font-size: 1.3em;
      font-weight: 600;
    }

    &__operation {
      font-size: 1em;
    }
  }

  &-button {
    background-color: var(--bgcolor-3);
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 
                0 4px 8px rgba(0, 0, 0, 0.2), 
                0 8px 16px rgba(0, 0, 0, 0.1);
  
    transition: transform 0.1s, box-shadow 0.2s; 
    /* A침adimos transiciones para suavizar los cambios */
  
    /* Estilos cuando se hace clic en el bot칩n */
    &:active {
      transform: scale(0.95);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 
                  0 2px 4px rgba(0, 0, 0, 0.1), 
                  0 4px 8px rgba(0, 0, 0, 0.05);
    }
  
    /* Estilos cuando el bot칩n est치 enfocado */
    &:focus {
      outline: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 
                  0 4px 8px rgba(0, 0, 0, 0.4), 
                  0 8px 16px rgba(0, 0, 0, 0.3);
    }
  }
}

