@use '../abstracts/mixins' as mixins;

.logreg {
  &-main {
    width: 100vw;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    justify-items: center;
    align-items: center;
  }

  &-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    & h2 {
      margin-bottom: 10px;
    }

    &__aux {
      background-color: var(--bgcolor-2);
      width: 100%;
      border-radius: 1em;
      padding: 20px;
    }
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & label {
      padding: 0 10px;
      margin-top: 5px;
    }

    & input, select {
      background-color: var(--bgcolor-3);
      width: 100%;
      border: none;
      font-size: var(--font-size);
      border-radius: 1em;
      color: inherit;
      padding: 5px 10px;
    }

    & input[type='file'] {
      display: none;
    }

    &__image {
      display: flex;
      align-items: center;

      & label {
        @include mixins.button_3d($pad2: 10px, $w: auto);
        margin: 5px 0;
      }

      & p {
        padding: 0 10px;
        margin-top: 5px;
      }
    }

    &__terms {
      width: 100%;
      display: flex;

      & input {
        width: auto;
        margin-top: 5px;
        margin-left: 10px;
      }
    }

    & button {
      @include mixins.button_3d($w: 50%);
      margin: 10px auto;
    }

    & span {
      margin: 0 10px;
      color: var(--color-warning);
      font-size: small;
    }
  }

  &-json {
    font-size: 18px;
  }

  &-users {
    width: 90%;
    
  }

  &-card {
    background-color: var(--bgcolor-3);
    width: 100%;
    height: 150px;
    border-radius: 1em;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      width: 30%;
      max-height: 100%;
      border-radius: .5em;
      object-fit: cover;
      object-position: center;
    }

    &__info {
      width: 80%;
      margin-left: 10px;
    }
  }
}

// 891px horizontal
@media screen and (max-width: 900px) {
  .logreg {
    &-json {
      font-size: 14px;
    }
  }
}

// 412px vertical
@media screen and (max-width: 450px) {
  body {
    font-size: 15px !important;
  }

  .logreg {
    &-json {
      font-size: 12px;
    }
  }
}

